@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300;400;500;700&display=swap');

/* Modifications générales du font de la page */
html {
    font-family: 'Roboto Condensed', sans-serif;
}

/* Logo Royal Canin clicable */
.logo {
    max-width: 300px;
    margin-bottom: 10px;
}

/* Sépare le logo du reste des informations */
.separator {
    width: 100%;
    height: 38px;
    background-color: #F6F6F6;
}

/* Permet l'alignement initial des boutons */
.big-buttons {
    display: flex;
    align-items: center;
}

/* Défini la structure générale d'un cadre */
.block {
    max-width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 9px;
    margin-right: 9px;
    background-color: #F6F6F6;
    border-color: white;
    cursor: pointer;
}

/* Défini la taille des titres de grands boutons ou du texte présentant les résultats */
.card-title {
    font-size: 1.5rem;
}

/* Liens réseaux sociaux */
.socials i {
    padding-bottom: 10px;
    font-size: 2.5rem;
    transition: 0.1s ease-in-out;
}
.socials i:hover {
    font-size: 2.4rem;
    color: #E2001A;
}

/* image de nourriture */
.food {
    padding-bottom: 10px;
    max-height: 250px;
}

/* Gestion des boutons cutom */
.btnSubmit, .btnLink {
    padding: 8px;
    padding-left: 32px;
    padding-right: 42px;
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
    border: 0px;
}
.btnSubmit i {
    position: absolute;
    margin-top: 8px;
    margin-left: 80px;
    color: #F6F6F6;
    transition: 0.3s ease-in-out;
}
.btnSubmit:hover i {
    margin-left: 10px;
    color: #FFFFFF;
}
.btnLink {
    padding-left: 20px;
    padding-right: 20px;
}

/* Pose un filtre noir et blanc sur les images à la classe sélectionnée */
.race-img, .dog-img, .cat-img {
    max-width: 800px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/* Centre une image sur l'axe x */
.image-center {
    align-items: center;
}


/* Couleurs communes des backgrounds, textes et bordures */
.text-red {
    color: #E2001A;
}
.bg-red {
    background-color: #E2001A;
}
.bg-lightgrey {
    background-color: #F6F6F6;
}
.border-red {
    border: 1px solid #E2001A;
}


/* Appels permettant de cacher les éléments désignés par ces ids à la génération initiale de la page */
#formCat {
    display: none;
    background-color: #F6F6F6;
}

#formDog {
    display: none;
    background-color: #F6F6F6;
}

#resultCat {
    display: none;
}

#resultDog {
    display: none;
}

@media only screen and (min-width: 500px) {
    .block {
        max-width: 500px;
        background-color: #F6F6F6;
        border-color: white;
        cursor: pointer;
    }
    
    .big-buttons {
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width: 400px) {
    .logo {
        width: 80%;
    }
}